@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
	font-family: 'Poppins', sans-serif;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	overflow-x: hidden;
}


.section{
	width: 1068px;
}

:root{
	--main-color: #ff0000cc;
	--text-color: #fff;
	--bg-color: black;
}

.header-heading{
	color: var(--text-color);
	font-weight: bolder;
	margin-bottom: 3rem;
	text-align: center;
}


.content-text{
	margin: 12rem;
	color: var(--text-color);
	font-size: 1.3rem;
	text-align: center;
}
.content-text-questions{
	margin: 2rem;
	color: var(--text-color);
	font-size: 1.3rem;
	text-align: center;
}

.header-container{
width: 100vw;
height: 100vh;
background: rgba(0,0,0,0.7) url(/Images/Background-image.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: bottom;
background-blend-mode: darken;
}


.top-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

.logo-name img{
	width: 15%;
	height: 80%;
	margin-top: 1rem;

}

.header-sign-in{
	margin-top: 1.5rem;
}

.btn-sign-in{
	background-color: var(--main-color);
	color: #fff;
	font-size: 0.8rem;
	padding: 0.4rem 0.9rem;
	border: none;
	border-radius: 5%;
	font-weight: 800;
	width: auto;
}

.email-input{
	font-size: 1rem;
	padding: 0.9rem;
	padding-right: 10rem;
	text-align: left;
	opacity: 0.6;
	border: 1px solid grey;
	background-color: var(--bg-color);
	color: var(--text-color);
}

.email-submit{
	padding: 0.6rem 1rem;
	background-color: var(--main-color);
	color: var(--text-color);
	border: none;
	border-radius: 5%;
}

.content-container{
	background-color: var(--bg-color);
	width: 100vw;
	height: 80vh;
	font-size: 1.5rem;
	
}
.content-container-questions{
	background-color: var(--bg-color);
	width: 100vw;
	height: 110vh;
	font-size: 1.5rem;
}
.content-row{
	padding-top: 9rem;
	display: flex;
	justify-content: space-between;
	align-items:center;
}
.content-col{
	color: var(--text-color);
}
.content-col img{
	height: 40vh;
	width: 35vw;
	padding-left: 2rem;
	padding-right: 2rem;
}
.content-col a{
	color: gray;
	font-size: 1rem;
}

.content-heading{
	color: var(--text-color);
	font-weight: bolder;
}

.accordion{
	padding-top:2rem;
	position: relative;
}
.accordion-item{
	margin: 1rem;
	font-size: 0.8rem;
	background-color: gray;
	color: var(--text-color);
}
.accordion-button{
	background-color: gray;
	color: var(--text-color);
}
.content-row-footer{
	padding-top: 1rem;
	display: flex;
	justify-content: space-between;
	align-items:center;
}
.content-col-footer{
	color: var(--text-color);
}
.content-col-footer a{
	color: gray;
	font-size: 1rem;
}
.footer-context{
	color: gray;
	font-size: 1rem;
	padding-top: 3rem;
}
.footer-context a{
	color: gray;
}
.dropdown{
	padding-top: 3rem;
}
.dropdown-toggle{
	background-color: var(--bg-color);
}

/*<!-- Sign In -->*/
.modal{
	margin-top: 3rem;
}
.modal-content{
	background-color: rgba(0,0,0,0.9);
	padding: 2rem;
	height: auto;
	width: 40rem;
	
}
.modal-title{
	color: var(--text-color);
	font-weight: bolder;
	font-size: 2rem;
}
.btn-close{
	background-color: var(--text-color);
}
.inputs{
	background-color: gray;
	color: var(--text-color);
	padding: 1rem ;
	border: none;
	margin: 1rem;
	width: 90%;
}
#toggle-password{
	font-size: 1.5rem;
	color: var(--text-color);
}
.sign-in-submit{
	padding: 0.6rem 1rem;
	margin-top: 2rem;
	background-color: var(--main-color);
	color: var(--text-color);
	border: none;
	width: 100%;
}
::placeholder{
	color: var(--bg-color);
	opacity: 1;
}
.message{
	color: var(--text-color);
	font-size: 1rem;
}
#message{
	position: relative;
	display: none;
}
.valid{
	color: green;
}
.valid::before{
	position: relative;
	left: -35px;
	content: "&#10004;";
}

.remember{
	margin-left: 1.5rem;
	color: var(--text-color);
}
.sign-in{
	color: var(--text-color);
}
.sign-in a{
color: var(--text-color);
}

/*<!-- responsive -->*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px)
{
	
	/*header*/
	.header-container{
		width:100%;
	}
	.top-header{
		display: flex;
	}
	.logo-name{
		margin-left: 5rem;
	}
	.header-sign-in{
		margin-right: 5rem;
	}
	.header-heading{
		font-size: 3rem;
		text-align: center;
	}	
	.content-text{
		font-size: 1.5rem;
		margin: 2rem;
	}
	/*modal*/
	.modal-content{
		font-size: 0.5rem;
		width: 90%;
	}
	#toggle-password{
		font-size: 0.7rem;
	}
	.sign-in-submit{
		width: 100%;
	}
	#remember{
		font-size: 0.7rem;
	}
	
	/*content*/
	.content-row{
		font-size: 0.9rem;
		margin: -5rem;
		display: block;
	}
	.content-col img{
		width: 60%;
		height: 40%;
		padding-left: -5rem;
		padding-right: -5rem;
	}
	.content-heading{
		font-size: 1.5rem
	}
	.content-text-questions{
		font-size: 1rem;
	}

	/*footer*/
	.footer-context{
		font-size: 0.8rem;
		margin-top: -2rem;
	}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) 
{
	/*header*/
	.top-header{
		display: flex;
	}
	.logo-name{
		margin-left: 2rem;
	}
	.header-sign-in{
		margin-right: 2rem;
	}
	.header-heading{
		font-size: 1.5rem;
		text-align: center;
	}	
	.content-text{
		font-size: 0.8rem;
		margin: 2rem;
	}
	/*modal*/
	.modal-content{
		font-size: 0.5rem;
		width: 90%;
	}

	.sign-in-submit{
		width: 100%;
	}
	#remember{
		font-size: 0.7rem;
	}
	
	/*content*/
	.content-row{
		font-size: 0.9rem;
		margin: -2rem;
	}
	.content-col img{
		width: 80%;
		height: 30%;
		padding-left: -2rem;
		padding-right: -2rem;
	}
	.content-heading{
		font-size: 1.5rem
	}
	.content-text-questions{
		font-size: 1rem;
	}
	/*footer*/
	.footer-context{
		font-size: 0.8rem;
		margin-top: -2rem;
	}
	
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 979px) 
{
	.header-heading{
		font-size: 1.5rem;
		text-align: center;
	}
	.content-text{
		margin-top: 2rem;
	}
}
